
article
{
	background: greenyellow; /* Fondo */
	border: 2px solid black; /* Borde */
	color: black; /* Color de letra */ 
	margin: 20px 5px; /* Margen exterior */
	padding: 15px; /* Margen interior */
	text-align: center; /* Alineacion del texto */
	-moz-transition: all 5s linear;
	-ms-transition: all 5s linear;
	-o-transition: all 5s linear;
	-webkit-transition: all 5s linear;
	width: 400px; /* Ancho de la pagina */
}

article p
{
	font: 30px Tahoma; /* Tipo de letra */
	font-weight: bold; /* Negritas */
	width: 100%; /* Ancho del texto */
}

article:hover
{

	/* height: 400px; */
	/* width: 800px; */

	background: black;
	color: greenyellow;
	
	/* -moz-transform: translate(150px, 300px); */
	/* -ms-transform: translate(150px, 300px); */
	/* -o-transform: translate(150px, 300px); */
	/* -webkit-transform: translate(150px, 300px); */

	/* -moz-transform: translate(150px, 300px); */
	/* -ms-transform: rotate(180deg); */
	/* -o-transform: rotate(180deg); */
	/* -webkit-transform: rotate(180deg); */

	/* -moz-transform: scale(1.5); */
	/* -ms-transform: scale(1.5); */
	/* -o-transform: scale(1.5); */
	/* -webkit-transform: scale(1.5); */

	/* -moz-transform: skew(10deg, 10deg); */
	/* -ms-transform: skew(10deg, 10deg); */
	/* -o-transform: skew(10deg, 10deg); */
	/* -webkit-transform: skew(10deg, 10deg); */
	
	-moz-transform: translate(150px, 300px), translate(150px, 300px), scale(1.5), skew(10deg, 10deg);
	-moz-transform: translate(150px, 300px), translate(150px, 300px), scale(1.5), skew(10deg, 10deg);
	-moz-transform: translate(150px, 300px), translate(150px, 300px), scale(1.5), skew(10deg, 10deg);
	-moz-transform: translate(150px, 300px), translate(150px, 300px), scale(1.5), skew(10deg, 10deg);

}