
 /* Selectores */
/* 1.- Estiquetas */
/* 2.- Identificadores */
/* 3.- Clases */

body /* Selector - Etiquetas */
{
	/* ATRIBUTO:VALOR; */
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 16px; /* Tamaño de la fuente estandar */
	margin: 0px auto;
	max-width: 1024px;
}

header
{
	background: blue; /* Fondo */
	border: 1px solid red;
	color: white; /* Letra */
	/*padding: 0px 0px 10px 0px;*/
	text-align: center; /* Alineacion del texto */
}

header img
{
	float: right;
	margin: -60px 20px 0px 0px;
	width: 100px; /* Ancho de la imagen */
}

header nav ul li
{
	/* border: 1px solid yellow; */
	background: orange;
	border-radius: 5px;
	box-shadow: 1px 1px;
	display: inline-block; /* Rompe el modelo de caja */
	/* margin: 0px 10px; */ /* Separo las cajas */
	margin: 0px 10px 50px 10px;
	padding: 0px 10px; /* Agrando los botones */
	width: 80px; /* Ancho del boton */
}

header nav ul li:hover /* Mouse por encima */
{
	background: white; /* Color de fondo */
	color: orange; /* Color de la letra */
}

main section
{
	margin: 15px 0px 0px 0px;
}

main section article
{
	/* border: 1px solid red; */
	display: inline-block;
	vertical-align: top;
	width: 24%;
}

footer
{
	border: 1px solid blue;
	font-size: 0.5em;
	text-align: center; /* Alineamos todo el texto */
}
