
#1erUL li
{
	display: inline-block;
	background: blue;
	color: white;
}

#2doUL
{
	background: yellow;
	color: orange;
}

.Explotan
{
	background: blue;
	color: red;
}

.Samsung
{
	background: blue;
	color: white;
}