
body
{
	font-size: 16px; /* 1em */
	margin: 0 auto;
	max-width: 1078px; /* Desicion de la empresa */
	min-width: 1078px;
}

header input
{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}

header nav
{
	margin-left: 220px;
}

header nav ul li
{
	border-bottom: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	/* text-decoration: underline; */ 
}

#bgoffer
{
	position: relative;
	/* position: fixed; */
	/* position: absolute; */
	left: -40px;
	top: -410px;

	/* Podemos usar los atributos left, right, top */
}

#granthams /* Logo de la empresa*/
{
	margin-top: 20px;
	margin-left: 25px;
}

#mallinglist
{
	padding-top: 60px;
}

#paint
{
	float: right;
	margin-top: 20px;
}

#primerseccion
{
	height: 317.99px;
	margin-top: 70px;
}

#primerseccion article
{
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
}

#segundaseccion article
{
	padding-right: 180px;
	text-align: right;
}

#seccion01aer01
{
	width: 60%;
}

#seccion01art02
{
	width: 30%;
}

#seccion01art02 ul
{
	list-style: none;
}

#seccion01art02 ul li:before
{
	content: "• ";
	color: #FF0099;
}

#terceraseccion article
{
	display: inline-block;
	vertical-align: top;
	width: 22%;
}

#terceraseccion article img
{
	vertical-align: middle;
}

.colorazul
{
	color: #16BEF8;
}
.colorrosa
{
	color: #F4A3C6;
}

.colorverde
{
	color: #A6DE47
}

.numerotelefono
{
	color: #FF0099;
	font-size: 2em;
	font-weight: bold;
}

.colorazul, .colorrosa, .colorverde
{
	font-size: 1.5em;
	font-weight bold;
}

.wecanoffer
{
	color: #FF0099;
	font-size: 3.5em;
	font-weight: bold;
}